<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script>

        function mytime(){
            var a = new Date();
            var b = a.toLocaleTimeString();
            var c = a.toLocaleDateString();
            document.getElementById("time1").innerHTML = c+"&nbsp;"+b;
        }
        setInterval(function() {mytime()},1000);

    </script>
</head>

<div th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/navigation :: navigation"/>

<div class="container">
    <p>
        Welcome : <span th:text="${email}">email</span>. You have signed in.
    </p>
    <p>
        <a href="profile.html" th:href="@{/__${email}__/profile}">My Profile</a>
    </p>
    <p>
        <form th:action="@{/logout}" method="post">
            <input type="submit" name="submit" value="logout" class="button"/>
        </form>
        <a th:href="@{/snsreset}">Reset password via receiving an email</a>
        <br/>
        <a href="reset">Reset Password</a>

    </p>

    <p id="time1" style="color: blueviolet;"></p>



</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>
</body>
</html>
